.container {
    width: 750px;
    height: 750px;
    display:grid;
    border: solid 1px black;
    flex-wrap: wrap;   
}
#container-large {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
#container-small {
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
}

#container-smallest {
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
}