.container {
    width: 750px;
    height: 750px;
    display:grid;
    border: solid 1px black;
    flex-wrap: wrap; 
    margin: 0 auto;  
}
#container-large {
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}
#container-small {
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
}
#container-smallest {
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
}
.griditem {
    border: 1px solid rgba(232, 236, 241, .4);
    border-radius: 2px;
}
h1, h2 {
    text-align: center;  
}
button {
    margin: 0 auto;
    border-radius: 4px;
}
.sizeButtons, .colorButtons, .otherButtons {
    text-align: center;
}
#pink {
    background-color: pink;
}
#blue {
    background-color: blue;
    color: white;
}
#black {
    background-color: black;
    color: white;
}
#large {
    padding: 10px;
}
#small {
    padding: 5px;
}